@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
}

/* Head CSS  */





/* secondSec CSS  */

#secondSec{
	padding: 5% 0;
}

#secondSec textarea{
	resize: both;
	width: 100%;
}


#secondSec .btn{
	width: 100%;
}


/* thirdSec CSS  */

#thirdSec{
	padding: 5% 0;
}


#thirdSec .card{
	margin: 2% 0;
}


/* Footer Section  */

footer{
	padding: 5% 0;
}

