@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: rgb(241, 235, 235);
}

/* Head CSS  */
header{
	background-color:#ffc107!important;
}
div{
	overflow: hidden;
}




/* secondSec CSS  */

.sidebar{
	background-color: #e0b636;
	
	
}

.main{
	padding: 0;
}


.main form textarea{
	resize: both;
	width: 100%;
}


.main form .btn{
	width: 100%;
}
.cards{
	width: 70%;
	margin-top: 100px;
	margin-bottom: 100px;
}
.card-div{
	margin: 10px;
}

/* thirdSec CSS  */
/* 
#thirdSec{
	padding: 5% 0;
}


#thirdSec .card{
	margin: 2% 0;
} */


/* Footer Section  */

footer{
	background-color: rgb(190, 205, 206);
	padding: 2% 0;
}

